<%= turbo_frame_tag dom_id(tweet) do %>
<div id="<%= dom_id tweet %>" class='tweet'>
  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>

  <p>
    <%= button_to "Likes (#{tweet.likes})", tweet_like_path(tweet), method: :post %>
  </p>

  <p>
    <small>Retweets:</small>
    <%= tweet.retweets.to_i %>
  </p>
   <%= button_to "Destroy this tweet", tweet, method: :delete %>
</div>
<% end %>