<p style="color: green"><%= notice %></p>

<h1>Whats up?</h1>

<%= turbo_frame_tag 'new_tweet', src: new_tweet_path %>

<%= turbo_stream_from 'tweets' %>
<%= turbo_frame_tag 'tweets' do %>
<div id="tweets">
  <%= render @tweets %>
</div>
<% end %>

<div id="dialog" title="Before you go...">
  <p>This is a basic CRUD app demonstrating front-end tools available in rails. This window can be moved, resized and closed with the icon. Use it to track full page re-renders! Oh and you should open up a second page and see what is updated live!</p>
</div>