<p style="color: green"><%= notice %></p>

<h1>Whats up?</h1>

<%= turbo_frame_tag 'new_tweet', src: new_tweet_path %>

<%= turbo_stream_from 'tweets' %>
<%= turbo_frame_tag 'tweets' do %>
<div id="tweets">
  <%= render @tweets %>
</div>
<% end %>

<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
</div>